.card {
    width: 175px;
    height: fit-content;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: 0 8px 10px 0;
    }
    
.card-info {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9px 9px;
}


.figure {
    width: 100%;
    border-radius: 36px;
}
img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}
h3 {
    font-size: 16px;
    font-weight: normal;
}
