.detailPage {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px auto;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
  }

  .detailPage img {
    max-width: 70%;
    height: auto;
    margin-bottom: 8px;
  }
  
  .detailPage h3 {
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
  }
  
  .detailPage p {
    margin-bottom: 4px;
    color: #666;
  }
  
  @media only screen and (max-width: 600px) {
    .detailPage {
      width: 70%;
    }
  }